[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pytest = "*"
pytest-cov = "*"
sqlalchemy = "*"
wtforms = "*"
multidict = "*"
flask-login = "*"

[dev-packages]
