{% extends "base.html" %}
{% block title %}
    About -
{% endblock %}
{% block content %}
<div class="container-md">
    <p>
        Our blog application is a modern, user-friendly platform designed for ease of use and visual appeal. 
        The homepage features a navigation bar at the top for quick access to various sections. 
        Blog posts are displayed in an elegant grid layout, with each post encapsulated in a card that 
        includes a title, tag, and a brief excerpt. The cards are responsive, ensuring a seamless experience 
        on both desktop and mobile devices. 
    </p>
</div>

{% endblock %}