{% extends "base.html" %}

{% block title %}
    {{ post.title }} - 
{% endblock %}

{% block content %}
    <div class="d-flex flex-row align-items-center p-2">
        <div class="me-auto">
        <a class="card-link" href="{{ referrer }}">
            Back
        </a>
        </div>
    </div>
    <hr/>
    <div class="container-md d-flex flex-column">
        <div class="p-3 mx-auto">
            <h5>
                {{ post[0].title }}
            </h5>
        </div class="p-3">
        <div class="p-3">
            {{ post[0].excerpt }}
        </div>
        <div class="p-3">
            <span class="badge text-bg-info">
                #{{ post[0].tag }}
            </span>
        </div>
        <div class="p-3">
                By: {{ post[1] }}
        </div>
        <div class="p-3">
            {{ post[0].content }}
        </div>
    </div>
{% endblock %}